:root {
  --color-link-blue: #2196f3;
  --color-letter-gray: #757575;
  --color-text-black: #212121;
  --color-background: #2f303a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border: #eeeeee;
  --butn-backgrnd-color: #188ce8;
  --our-team-backgrnd: #f5f4fa;
  --icon-color-gray: #AFB1B8;
  --icon-bg-active: #2196f3;
  --icon-color-white: #ffffff;
  --main-trans-func: cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.hiden-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-text-black);
  background-color: var(--color-white);
  margin: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 480px) {
  .modal {
    position: relative;
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--icon-bg-active);
}

.icon-close-btn {
  fill: inherit;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--color-text-black);
  margin-bottom: 12px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--color-link-blue);
}
.modal-input::-moz-placeholder {
  color: var(--color-link-blue);
}
.modal-input:-ms-input-placeholder {
  color: var(--color-link-blue);
}
.modal-input::placeholder {
  color: var(--color-link-blue);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--color-link-blue);
}

.modal-comment {
  outline: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border: 1px solid var(--color-link-blue);
}

.input-label {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--color-letter-gray);
}

.modal-button {
  min-width: 200px;
  height: 50px;
  background-color: var(--color-link-blue);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 30px auto 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--butn-backgrnd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-letter-gray);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text span {
  background-color: var(--icon-bg-active);
  border: 2px solid transparent;
  fill: #ffffff;
}

.license-terms-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-link-blue);
}

.header {
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ececec;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-black);
  transition: text-shadow 250ms var(--main-trans-func);
}
.header__logo:hover, .header__logo:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-link-blue);
}

.navigation {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-text-black);
  list-style: none;
  display: flex;
  gap: 50px;
}

.navigation__link-curent {
  padding: 35px 0;
  position: relative;
  color: var(--color-link-blue);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .navigation__link-curent {
    padding: 40px 0;
  }
}

.navigation__link {
  color: var(--color-text-black);
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--color-link-blue);
}

.navigation__link-curent::after {
  position: absolute;
  bottom: 0;
  transition: 250ms var(--main-trans-func);
  display: block;
  content: "";
  width: 100%;
  transform: scaleX(1.1);
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-link-blue);
}

.contact {
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-letter-gray);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-link:focus {
  color: var(--color-link-blue);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-menu-icon {
  fill: currentColor;
}

.menu-open {
  display: block;
  margin: 10px 0;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-text-black);
  text-decoration: none;
}

.mob-navigation__link-curent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-link-blue);
  text-decoration: none;
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-contact-link {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contact-link:hover, .mob-contact-link:focus {
  color: var(--color-link-blue);
}

.mob-contact-link-mail {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--color-letter-gray);
}
.mob-contact-link-mail:hover, .mob-contact-link-mail:focus {
  color: var(--color-link-blue);
}

.mob-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-soc-list {
  display: flex;
}

.mob-soc-item:not(:last-child) {
  margin-right: 10px;
}
.mob-soc-item:not(:last-child)::after {
  content: " ";
  margin-left: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-link {
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-link-blue);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 40px 48px;
  text-align: left;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
}
.mob-menu > .container {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--icon-bg-active);
}

.mobile-menu-icon {
  fill: inherit;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: var(--gra), url(../../img/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../../img/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--gra), url(../../img/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../../img/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--gra), url(../../img/hero.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../../img/hero-2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
  }
}

.button {
  min-width: 200px;
  height: 50px;
  background-color: var(--color-link-blue);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--butn-backgrnd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .button {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.button:active {
  background-color: var(--butn-backgrnd-color);
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-list-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list-item {
    width: calc((100% - 90px) / 4);
  }
}

.features-list-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--our-team-backgrnd);
  border-radius: 4px;
}

.features-title {
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.features-text {
  font-size: 14px;
  line-height: 1.7142;
  color: var(--color-letter-gray);
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  color: var(--color-text-black);
}
@media screen and (min-width: 1200px) {
  .about-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666;
  }
}

.about-picture {
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 30px;
}

.about-picture-title {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.about-picture-text {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.team {
  background-color: var(--our-team-backgrnd);
}

.team-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  color: var(--color-text-black);
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666;
  }
}

.team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.team-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-card {
  width: 100%;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-card {
    padding: 30px 0;
  }
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--color-text-black);
  margin-bottom: 10px;
}

.team-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--color-letter-gray);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--icon-color-gray);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--icon-bg-active);
  color: var(--icon-color-white);
}

.team-soc-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-card {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-card {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-card {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color-gray);
  border-radius: 4px;
  fill: var(--icon-color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--icon-bg-active);
  fill: var(--icon-bg-active);
}

.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  footer .container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: left;
  }
}

.footer-main {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-main {
    margin-bottom: 0;
  }
}

.footer__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-white);
  transition: text-shadow 250ms var(--main-trans-func);
}
.footer__logo:hover, .footer__logo:focus {
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.footer address {
  margin-top: 20px;
}

.footer-contact {
  list-style: none;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-map-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  color: var(--color-white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map-link:hover, .footer-map-link:focus {
  color: var(--color-link-blue);
}

.footer-contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-link:hover, .footer-contact-link:focus {
  color: var(--color-link-blue);
}

.social-block {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-block {
    margin-left: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social-block {
    margin-left: 70px;
  }
}

.social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.social-list {
  min-width: 206px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  border-radius: 50%;
  background: var(--icon-bg-active);
}

.social-icon {
  fill: var(--color-white);
}

.subscribe-input {
  padding: 15px;
  margin-bottom: 20px;
  min-width: 290px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .subscribe-input {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-input {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    display: inline-block;
    min-width: 358px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
  .subscribe form {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscribe-button {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--icon-bg-active);
  color: var(--color-white);
  fill: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--butn-backgrnd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  vertical-align: middle;
  margin-left: 10px;
}

.contacts-page-list {
  list-style-type: none;
  font-size: 22px;
  color: var(--color-letter-gray);
}

.contacts-page-item {
  margin-top: 12px;
}

.contacts-page-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.contacts-page-link:hover, .contacts-page-link:focus {
  color: var(--color-link-blue);
}

.contacts-page-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-letter-gray);
  margin-bottom: 18px;
}
.contacts-page-address-link:hover, .contacts-page-address-link:focus {
  color: var(--color-link-blue);
}

.contacts-page-item iframe {
  width: 100%;
  height: 500px;
}

.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-button-list {
    margin-bottom: 30px;
    justify-content: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-button-list {
    margin-bottom: 50px;
  }
}

.portfolio-button-list li {
  display: block;
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio-button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  color: var(--color-text-black);
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-item:hover, .portfolio-button-item:focus {
  background-color: var(--color-link-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
}

.portfolio-button-item:active {
  background: var(--color-link-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-examples:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-examples-list {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-examples-list {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-examples-list {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  top: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}
.portfolio-examples-links:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-examples-links {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-examples-links:hover, .portfolio-examples-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  background-color: var(--color-white);
  padding: 20px 24px;
  border: 1px solid var(--color-border);
  border-top: 0;
}

.portfolio-card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-black);
}

.portfolio-card-item {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-letter-gray);
}/*# sourceMappingURL=main.css.map */