body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--color-text-black);
	background-color: var(--color-white);
	margin: 0;
}

section {
	padding-top: 94px;
	padding-bottom: 94px;
}