:root {
	--color-link-blue: #2196f3;
	--color-letter-gray: #757575;
	--color-text-black: #212121;
	--color-background: #2f303a;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-border: #eeeeee;
	--butn-backgrnd-color: #188ce8;
	--our-team-backgrnd: #f5f4fa;
	--icon-color-gray: #AFB1B8;
	--icon-bg-active: #2196f3;
	--icon-color-white: #ffffff;
	--main-trans-func: cubic-bezier(0.4, 0, 0.2, 1);
}