.portfolio-button-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: left;
	margin-bottom: 40px;
	@include tablet {
		margin-bottom: 30px;
		justify-content: center;
		gap: 8px;
	}
	@include desktop {
		margin-bottom: 50px;
	}
}

.portfolio-button-list li {
    display: block;
	margin-right: 8px;
    margin-bottom: 15px;
}

.portfolio-button-item {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	border-radius: 4px;
	color: var(--color-text-black);
	text-align: center;
	border: none;
	cursor: pointer;
	padding: 6px 22px;
	transition: 
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--color-link-blue);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		color: var(--color-white);
	}
}

.portfolio-button-item:active {
	background: var(--color-link-blue);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.portfolio-examples {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-examples:not(:last-child) {
    margin-bottom: 30px;
}

.portfolio-examples-list {
	width: 100%;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-basis: calc((100% - 30px)/2);
	}
	@media screen and (min-width:1200px) {
		flex-basis: calc((100% - 60px) / 3);
	}
}

.portfolio-top-wrap {
	position: relative;
	overflow: hidden;
}

.portfolio-top-text {
	position: absolute;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--color-white);
	top: 0;
	padding: 63px 24px;
	height: 100%;
	font-size: 18px;
	line-height: 1.55;
	transform: translateY(100%);
	transition: transform 250ms linear;
	overflow: auto;
	.portfolio-examples-links:hover & {
		transform: translateY(0);
	}
}

.portfolio-examples-links {
	text-decoration: none;
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.portfolio-card {
	background-color: var(--color-white);
	padding: 20px 24px;
	border: 1px solid var(--color-border);
	border-top: 0;
}

.portfolio-card-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--color-text-black);
}

.portfolio-card-item {
	font-size: 16px;
	line-height: 1.875;
	color: var(--color-letter-gray);
}
