.team {
	background-color: var(--our-team-backgrnd);
}

.team-title {
	font-size: 36px;
	line-height: 1.1666;
	text-align: center;
	color: var(--color-text-black);
	margin-bottom: 50px;
}

.team-list {
	list-style: none;
	display: flex;
	gap: 30px;
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.team-card {
	background-color: var(--color-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding: 30px 0;
}

.team-card-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	color: var(--color-text-black);
	margin-bottom: 10px;
}

.team-card-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.1875;
	text-align: center;
	color: var(--color-letter-gray);
	margin-bottom: 16px;
}

.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.team-soc-item {
	width: 44px;
	height: 44px;
}
.team-soc-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--icon-color-gray);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--icon-bg-active);
		color: var(--icon-color-white);
	}
}

.team-soc-icon {
	fill: currentColor;
}
